#page-banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	align-items: center;
	text-align: center;
	padding-top: 110px;
	min-height: 50vh;
	color: #FFFFFF;
	display: flex;
}