#hero-banner {
	background-image: url(../../static/assets/images/hero-banner-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #FFFFFF;
	display: flex;
}