#header {
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.20);
	background-color: hsl(0 0% 100% / 0.01);
	backdrop-filter: blur(0.5rem);
	padding: 1.8rem 0;
	position: fixed;
	color: #FFFFFF;
	z-index: 500;
	width: 100%;

	.header-nav-links {
		.nav-link {
			
		}
	}
}