// base colors
$black:#000000;
$base_black:#07070A;

$white:#FFFFFF;
$base_white:#FBFBFB;

$gray:#4A525A;
$base_gray:#24272B;
$soft_gray:#E2E2E2;

// primary colors
$darkest_primary:#00072D;
$dark_primary:#001C55;
$primary:#0A2472;
$soft_primary:#0E6BA8;
$softed_primary:#A6E1FA;